.projects {
  &__table {
    &__unviewed {
      color: #e40808;
      font-size: 28px;
      cursor: pointer;

      &__row {
        margin: -16px;
        padding: 16px;
        background-color: #e4dada;
      }
    }

    &__number {
      font-weight: 600;
      color: #e40808;
    }
  }

  &__progress-value {
    line-height: 1.4;

    &--zero {
      opacity: 0.6;
    }
  }

  &__quantity-check {
    margin-left: 6px;
    color: #52c41a;
  }

  @media all and (max-width: 1000px) {
    &_filters {
      margin-left: 12px;
    }
  }

  &_filters {
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    &_input {
      min-width: 240px;
    }

    &_select {
      min-width: 220px;
    }
  }
}
