.editable_object_dialog {
  width: 100%;

  > .ant-space-item {
    width: 100%;
  }

  .ant-space-compact {
    display: flex;

    .ant-input-number {
      flex: 1;
    }

    .ant-btn {
      white-space: nowrap;
    }
  }
}

.editable-object-dialog__form {
  width: 100%;

  .ant-form-item-label {
    white-space: normal;

    > label {
      height: auto;
    }
  }
}

.editable-object-dialog__input {
  width: 100%;
}

.editable-object-dialog__coords {
  width: 100%;
}

.editable_object_dialog
  .ant-space-compact
  .editable-object-dialog__coord-input {
  width: 30%;
  flex: 0 0 30%;
}

.editable-object-dialog__map-button {
  width: 40%;
  margin-top: 8px;
}

.editable-object-dialog__map-modal {
  max-width: 1200px;
}
