.project-materials__action-button {
  margin-right: 8px;
}

.project-materials__add-button {
  width: fit-content;
}

.project__materials-table {
  .ant-table-summary {
    background: #fff4f4;
    font-weight: 600;
  }
}
