.measurement-units__content {
  padding: 8px;
  margin: 0;
  min-height: calc(100vh - 108px);
  background: #fff;
}

.measurement-units__add-button {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .measurement-units__content {
    padding: 4px;
    min-height: calc(100vh - 110px);
  }
}
